#headerBG{
    background-color: #7ddee4;
    color: #ffffff;
    padding: 20px 20px 10px;
}
.cursor{
    cursor: pointer;
}
.ellipse{
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.m-t-7{
    margin-top: -7px;
}