<!DOCTYPE html>
<html>
  <head>
    <title>csvcheck</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome</p>
    <form action=/sendCSV method="POST">  
      <div class="container">   
          <label>CSVFilePath : </label>   
          <input type="text" placeholder="Enter Email" name="FilePath" required>  
          <br>
          <br>  
          <button type="submit">Login</button>      
      </div>   
  </form>     

  </body>
</html>
