<!DOCTYPE html>
<html>
  <head>
    <title>loki</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>hiii</h1>

    <form action=/logout method="get">  
        <div class="container">     
            <button type="submit">Logout</button>      
        </div>   
    </form>     
  </body>
</html>
