<div class="container-fluid" id="loginBG">
    <div class="d-flex text-center">
       <div class="row" id="containerWidth">
        <div class="col-sm-12">
            <h3><i>
                Welcome To StarPro Trainer Kart
            </i></h3>
        </div>
        <div class="col-sm-12 loginSection">
            <h3 style="font-weight: 400;">Login</h3>
            <hr>
            <div class="text-left f-c-white p-8-0">
                User Name
            </div>
            <div class="text-left  p-8-0">
                <input type="text" class="w-100" [(ngModel)] = "userName" >
            </div>
            <div class="text-left f-c-white  p-8-0">
                Password
            </div>
            <div class="text-left  p-8-0">
                <input type="password" class="w-100" [(ngModel)] = "password">
            </div>
            <div class="buttonClass">
                <input type="button" value="Login" class="f-c-white loginButton" (click) = "login()">
            </div>
        </div>
       </div>
    </div>
</div>
